MCP_SERVER_ENDPOINT=/mcp/query
MCP_SERVER_PORT=3005

URI_NEO4J=bolt://localhost:7688
USER_NEO4J=neo4j
PASSWORD_NEO4J=querymcp

EMAIL_HOST=localhost
EMAIL_PORT=1026
EMAIL_SECURE=False
EMAIL_USER=querymcp
EMAIL_PASS=querymcp
EMAIL_FROM=mcpserver@querymcp.com.br